extends layout

block content
  main
    div.container.text-xs-center
      h1.display-4 Dungeon Master's Chest
      .container
        .row
          .card(style='width: 18rem;').col
            img.card-img-top(src='...' alt='...')
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .card(style='width: 18rem;').col
            img.card-img-top(src='...' alt='...')
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .card(style='width: 18rem;').col
            img.card-img-top(src='...' alt='...')
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .row
          .card(style='width: 18rem;').col
            img.card-img-top(src='...' alt='...')
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .card(style='width: 18rem;').co
            img.card-img-top(src='...' alt='...')
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .card(style='width: 18rem;').col
            img.card-img-top(src='...' alt='...')
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      